version: '3.8'

services:
  web:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: php_apache
    ports:
      - "8080:80"
    volumes:
      - "./src:/var/www/html"
    depends_on:
      - db
    networks:
      - appnet 

  db:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - appnet

volumes:
  db_data:

networks:
  appnet:
    driver: bridge